.bc-black{ /* background-color (bc-black) */
    background-color:black ;
}
.border{
    border: 5px solid black;
}
.m-t{ /* margin top (m-t)*/
    margin-top: 100px;
}
.m-l{ /* margin left (m-l)*/
    margin-left: 100px;
}
.m-r{/* margin right (m-r)*/
    margin-right: 100px;
}
.m-b{ /* margin bottom (m-b)*/
    margin-bottom: 100px;
}

.m-auto{
    margin: auto;
}